<%= form_with(model: prestation, local: true) do |form| %>
  <% if prestation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(prestation.errors.count, "error") %> prohibited this prestation from being saved:</h2>

      <ul>
        <% prestation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
