<p id="notice"><%= notice %></p>

<h1>Assurances</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assurances.each do |assurance| %>
      <tr>
        <td><%= assurance.name %></td>
        <td><%= assurance.price %></td>
        <td><%= link_to 'Show', assurance %></td>
        <td><%= link_to 'Edit', edit_assurance_path(assurance) %></td>
        <td><%= button_to 'Destroy', assurance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assurance', new_assurance_path %>
