<!DOCTYPE html>
<!-- saved from url=(0031)/ -->
<html lang="fr_FR" class="wf-montserrat-n5-active wf-montserrat-n6-active wf-montserrat-n7-active wf-materialicons-n4-active wf-active"><!--<![endif]--><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    
    <title>Location de voitures en Guyane à prix discount - Payless Guyane</title>
    <meta name="description" content="Besoin d’une location de voitures en Guyane pas cher ? Payless Guyane, votre nouveau loueur de location de voitures vous propose deux agences à Cayenne et Saint-Laurent du Maroni">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="shortcut icon" href="/theme/images/icons/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/theme/images/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/theme/images/icons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/theme/images/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/theme/images/icons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/theme/images/icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/theme/images/icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/theme/images/icons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/theme/images/icons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/theme/images/icons/apple-touch-icon-180x180.png">

        <%= stylesheet_link_tag 'application' %>
    <%Dir.children(Rails.root.to_s+'/app/assets/stylesheets/'+params[:controller]).each do |jsfile|%>
    <%= stylesheet_link_tag params[:controller]+'/'+jsfile %>
    <%end%>
    <%= javascript_include_tag 'application' %>
    <%Dir.children(Rails.root.to_s+'/app/assets/javascripts/'+params[:controller]).each do |jsfile|%>
    <%= javascript_include_tag params[:controller]+'/'+jsfile %>
    <%end%>

    <%=yield :moncss%>
<style>
a[href=<%=request.path%>] {
  font-weight: 900;
}
    .titlebonplan {
      color:#fff;
    }
    .article-wp p {
      font-size: 18px;
    }
</style>



    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5WJCNQ9');</script>
    <!-- End Google Tag Manager -->

    
    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '825584627583366');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=825584627583366&ev=PageView&noscript=1" /></noscript>


</head>

<body data-lang="fr_FR" data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0">

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5WJCNQ9"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div id="ie-fallback">
        <a href="http://windows.microsoft.com/fr-fr/internet-explorer/download-ie" title="Mettre à jour Internet Explorer" id="ie-box"></a>
    </div><!-- #ie-fallback -->

    <div class="ie-wp">

        
    <header id="header" class="d-print-none">
        <div id="nav-mobile">
            <a href="/" class="logo">
                <img src="/assets/logo-payless.png" class="img-fluid" alt="Logo Payless Location Guyane">
                <span class="txt">Location de voiture en <strong>Guyane</strong></span>
            </a>
            <button id="nav-mobile-trigger" type="button" aria-expanded="false" aria-controls="nav-main">
          <span class="btn-mobile-hamburger">
            <span></span> <span></span> <span></span><span></span>
          </span><!-- /#btn-hamburger -->
            </button><!-- /#nav-mobile-trigger -->
        </div>
        <!-- /#nav-mobile -->
        <div class="container ph-0-xs">
            <div class="row-wp">
                <div class="col-left">
                    <a href="/" class="logo">
                        <img src="/assets/logo-payless.png" class="img-fluid" alt="Logo Payless Location Guyane">
                        <span class="txt">Location de voiture en <strong>Guyane</strong></span>
                    </a>
                    <!-- .logo -->
                </div>
                <!-- /.col-left -->
                <div class="col-middle">
                    <ul id="nav-main">
                        <li class="item">
                            <a href="/vehicule" class="link ">Nos véhicules</a>
                        </li><!-- /.item -->
                        <li class="item">
                            <a href="/bons-plans" class="link ">Bons plans</a>
                        </li><!-- /.item -->
                        <li class="item">
                            <a href="/contact" class="link ">Nos agences</a>
                        </li><!-- /.item -->
                        <li class="item">
                            <a href="/plus-payless" class="link ">Les + Payless</a>
                        </li><!-- /.item -->
                        <li class="item">
                            <a href="/guyane" class="link ">Découvrez la Guyane</a>
                        </li><!-- /.item -->
                        <span class="txt"><%=link_to t('monmenu.employee'), cars_path%></span>
                    </ul><!-- /#nav-main-->
                </div>
                <!-- /.col-middle -->
                <div class="col-right">
                    <a href="tel:+594 594 35 10 20" class="btn-a large icon-on">
                        <span class="material-icons">call</span>
                        <span>+594 594 35 10 20</span>
                    </a>
                </div>
                <!-- /.col-right -->
            </div>
            <!-- /.row-wp -->
        </div><!-- /.container -->
    </header><!-- /#header -->

    
    <%=yield%> 



        <section id="footer-social" class="pv-50 pv-30-sm pv-20-xs">
            <div class="container text-center">
                <h3 class="h-like-c c-bl-c aos-init" data-aos="zoom-in">Retrouvez-nous également sur</h3>
                <ul class="list mt-20 mt-10-xs">
                    <li data-aos="fade-down" data-aos-delay="150" class="aos-init">
                        <a href="https://www.facebook.com/Payless-Guyane-223076065655559/" target="_blank" title="Page Facebook">
                            <span class="sprite facebook"></span>
                        </a>
                    </li>
                                        <li data-aos="fade-down" data-aos-delay="450" class="aos-init">
                        <a href="https://www.instagram.com/paylessguyane/" target="_blank" title="Page Instagram">
                            <span class="sprite instagram"></span>
                        </a>
                    </li>
                    <li data-aos="fade-down" data-aos-delay="600" class="aos-init">
                        <a href="tel:+594 594 35 10 20" target="_blank" title="Appeler">
                            <span class="sprite whatsapp"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /.container -->
        </section>
        <!-- /#footer-social -->
        <footer id="footer" class="d-print-none">
            <div class="container text-center text-sm-left">
                <div class="row pv-60 pv-50-md pv-20-xs align-items-center">
                    <div class="col-sm-4 aos-init" data-aos="fade-right">
                        <a href="/#" class="logo">
                            <img src="/assets/logo-payless-white.png" class="img-fluid" alt="Logo Payless Location">
                            <span class="txt">Location de voiture en <strong>Guyane</strong></span>
                        </a>
                    </div>
                    <!-- /.col-sm-4 -->
                    <div class="col-sm-8 text-center text-sm-right text-lg-left mt-15-xs aos-init" data-aos="fade-left">
                        <ul class="list">
                            <li>
                                <a href="/cgl">CGL</a>
                            </li>
                            <li>
                                <a href="/mentions-legales">Mentions légales</a>
                            </li>
                            <li>
                                <a href="/confidentialite">Politique de confidentialité</a>
                            </li>
                            <li>
                                <a href="/contact">Contact</a>
                            </li>
                        </ul>
                        <!-- /.list -->
                    </div>
                    <!-- /.col-sm-8 -->
                </div>
                <!-- /.row -->
                <div class="row pv-20 pt-0-xs">
                    <div class="col-sm-6 text-center text-sm-left">
                        <div class="txt">Copyright © 2021 Payless Guyane</div>
                    </div>
                    <!-- /.col-sm-6 -->
                    <div class="col-sm-6 text-center text-sm-right">
                        <a href="https://www.pixell.eu/" target="_blank" rel="nofollow" class="txt">Réalisé, hébergé et référencé par Pixell</a>
                    </div>
                    <!-- /.col-sm-6 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </footer><!-- #footer -->

        <div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                </div><!-- .modal-content -->
            </div><!-- .modal-dialog -->
        </div><!-- .modal -->

        <a href="/#" title="Retour en haut de page" id="btn-back-top" style="display: none;">
            <span class="sprite back-top"></span>
        </a><!-- #btn-top -->

    </div><!-- .ie-wp -->

    <div id="modal-loader">
        <div class="spinner-wp spinner-circle"></div>
    </div><!-- #modal-loader -->


  <script>

    window.onload = function() {
    <%=yield :monjs%>
      $('[data-aos]').attr('data-aos','');
    }
  </script>


</body></html>
